## Creating Delta Lake Tables

In [ ]:
%sql
USE CATALOG hive_metastore

In [ ]:
%sql
CREATE TABLE employees
  (id INT, name STRING, salary DOUBLE);

## Catalog Explorer

Check the created **employees** table in the **Catalog** explorer.

## Inserting Data

In [ ]:
%sql
-- NOTE: With latest Databricks Runtimes, inserting few records in single transaction is optimized into single data file.
-- For this demo, we will insert the records in multiple transactions in order to create 4 data files.

INSERT INTO employees
VALUES 
  (1, "Adam", 3500.0),
  (2, "Sarah", 4020.5);

INSERT INTO employees
VALUES
  (3, "John", 2999.3),
  (4, "Thomas", 4000.3);

INSERT INTO employees
VALUES
  (5, "Anna", 2500.0);

INSERT INTO employees
VALUES
  (6, "Kim", 6200.3)

-- NOTE: When executing multiple SQL statements in the same cell, only the last statement's result will be displayed in the cell output.

In [ ]:
%sql
SELECT * FROM employees

## Exploring Table Metadata

In [ ]:
%sql
DESCRIBE DETAIL employees

## Exploring Table Directory

In [ ]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

## Updating Table

In [ ]:
%sql
UPDATE employees 
SET salary = salary + 100
WHERE name LIKE "A%"

In [ ]:
%sql 
SELECT * FROM employees

In [ ]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [ ]:
%sql
DESCRIBE DETAIL employees

In [ ]:
%sql 
SELECT * FROM employees

## Exploring Table History

In [ ]:
%sql 
DESCRIBE HISTORY employees

In [ ]:
%fs ls 'dbfs:/user/hive/warehouse/employees/_delta_log'

In [ ]:
%fs head 'dbfs:/user/hive/warehouse/employees/_delta_log/00000000000000000005.json'