
## Lab Solution: Querying Files

Run the following cell to setup the lab environment

In [0]:
%run ../Includes/Setup-Lab

#### Q1- Extracting data directly from Parquet files

Use a SELECT statement to directly query the content of the Parquet files in the directory **${dataset.school}/enrollments**

In [0]:
-- ANSWER
SELECT * FROM parquet.`${dataset.school}/enrollments`

Use the above SELECT query in a CTAS statement to create the table **enrollments**

In [0]:
-- ANSWER
CREATE TABLE enrollments AS
SELECT * FROM parquet.`${dataset.school}/enrollments`


Run the below cell to ensure data was written as expected in the **enrollments** table

In [0]:
SELECT * FROM enrollments

#### Q2- Registering Tables from JSON Files

Use CTAS statement to create the table **students** from the json files in the directory: **${dataset.school}/students-json**

In [0]:
-- ANSWER
CREATE TABLE students AS
SELECT * FROM json.`${dataset.school}/students-json`;

Run the below cell to ensure data was written as expected in the **students** table

In [0]:
SELECT * FROM students

#### Q3- Registering Tables from CSV Files

Create the temporary view **courses_tmp_vw** from the csv files in the directory: **${dataset.school}/courses-csv**

Knowing that:
* The delimiter is semicolon (**;**)
* There is a header of column names in each file

The schema for the view:

| Column Name | Column Type |
| --- | --- |
| course_id | STRING |
| title | STRING |
| instructor | STRING |
| category | STRING |
| price | DOUBLE |

In [0]:
-- ANSWER
CREATE TEMP VIEW courses_tmp_vw
   (course_id STRING, title STRING, instructor STRING, category STRING, price DOUBLE)
USING CSV
OPTIONS (
  path = "${dataset.school}/courses-csv",
  header = "true",
  delimiter = ";"
);

Create the manged table **courses** from the temporary view **courses_tmp_vw**

In [0]:
-- ANSWER
CREATE TABLE courses AS
  SELECT * FROM courses_tmp_vw;


Query the data in the **courses** table to ensure data was written as expected.

In [0]:
-- ANSWER
SELECT * FROM courses


Finally, review the metadata information of the table **courses**, and verify that the table type is Managed

In [0]:
DESCRIBE EXTENDED courses